<nav class="navbar navbar-expand-lg navbar-light bg-inherit sticky-top">
    <div class="container-fluid text-white">
      <a class="navbar-brand" href="#"><img id="logo" src="./assets/2.png" style="height: 30px;"></a> 
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="menu-list" class="navbar-nav mr-auto" style="align-items: center; width: auto;">
            <li *ngFor="let item of navbarItems" (click)="navbarItemClick()" id="{{ item.name }}" class="nav-item">
                <a class="nav-link text-white" routerLink="{{ item.routerLink }}">
                        {{ item.display }}
                </a> 
            </li>
        </ul>
      </div>
    </div>
  </nav> 