<h1>Links</h1>
<p>Here are some of my favorite open source tech projects.</p>
<h2>Angular</h2>
<a href="https://angular.io/" target=blank><img src="assets/angular.svg" alt="Angular" height="300px"></a>

<h2>NodeJS</h2>
<a href="https://nodejs.org/en/" target=blank><img src="assets/logo.svg" alt="NodeJS" height="300px"></a>

<h2>NativeScript</h2>
<a href="https://nativescript.org/" target=blank><img src="assets/nativescript.png" alt="NativeScript" height="200px"></a>

<h2>PyTorch</h2>
<a href="https://pytorch.org/" target=blank><img src="assets/pytorch.png" alt="PyTorch" width="300px"></a>