<div class="content">
    <div id="headshot" class="center">
        <img src="assets/0.jpg"> <!-- class="rounded-circle shadow img-fluid m-4"> -->
        <p class="cursive lead">Aaron Plahn</p>
        <p>MSc (Physics), BSc (Physics, Math minor)</p>
        <p>Williams Lake, BC</p>
    </div>
    <div>
        <h2>About me</h2>
        <p>I am a full-stack software engineer with 10 years of experience in developing software and managing data with applications in scientific computing and natural language processing.<p>
        <p>I am passionate about lifelong education. As an educator, I recently lead a highly successful tech-capacity building initiatve. As a learner, I recently completed Udacity's <a href="https://www.udacity.com/course/deep-learning-nanodegree--nd101" target="blank">Deep Learning Nanodegree</a>. </p>    
    </div>

    <h2>Tech Stack</h2>
    <ul>
        <li>Angular with NativeScript code sharing for iOS and Android</li>
        <li>NodeJS \ Express for server-side APIs</li>
        <li>Python, PyTorch, Pandas, NumPy for data processing, visualization, and Machine Learning</li>
        <li>SQL (PostgreSQL, MariaDB, SQLite) for data management</li>
        <li>VirtualBox for on-premise hosting</li>
    </ul>
    <p>I continuously experiment with many other technologies and I am always looking for an exciting project!</p>
</div>
