<h1>Projects</h1>
<h2>Digital Morphological Dictionary Project</h2>
<p class="tools">SQL, ffmpeg, Sox, Mozilla DeepSpeech, Amazon Transcribe, NodeJS, Python</p>
<p></p>
<h2>Language Technology Project: Capacity Building</h2>
<p>Project Lead for TNG's highly successful tech capacity building project.</p>
<p>We were funded by the National Research Council as part of the <a href="https://nrc.canada.ca/en/research-development/research-collaboration/programs/canadian-indigenous-languages-technology-project" target=_blank>Canadian Indigenous Langauges Technology Project</a>.</p>
<p>Checkout our revamped <a href="https://www.tsilhqotinlanguage.ca" target=_blank>language website</a>, which I used as a context for teaching Front-End Development to Justin Bambrick and Blake Sellars.</p>
<p>Through this project, I hired, trained, and mentored 4 local first nations in language technology roles:</p>
    <ul>
        <li>Front-End Developer</li>
        <li>Web Development Summer Student</li>
        <li>Audio Technician</li>
        <li>Linguistic Data Entry Specialist</li>
    </ul>

<!-- <h2>104.5 Tŝilhqot’in Radio</h2>
<p>Provide technical support and training for TNG's radio team.</p>
<p>Develop and deploy technology to integrate OpenBroadcaster with our langauge website.</p> -->
<h2>Cosmological constraints on new scalar gravitational interactions</h2>
<p class="tools">Tools: Fortran, Python, PCA, Fisher Forecasting, CAMB, Scientific Computing</p>
<p>I wrote custom patches to the numerical software Code for Anisotropies in the Microwave Background (CAMB) using Fortran.</p>
<p>The Physical Review D publication is available on  <a href='https://arxiv.org/abs/1511.05962' target=blank>Arxiv.org.</a> </p>
<p>For the more visually inclined, checkout our graphs, featured in <a href='https://journals.aps.org/prd/kaleidoscope/prd/93/4/043531' target=blank>Physical Review D's 2016 Kaleidoscope</a>.</p>
<h2>Transient chaos in the Planar Circular-Restricted 3 Body Problem</h2>
<p class = "tools">SciLab, Maxima, Numerical Analysis</p>
<p>I held a TRU Undregraduate Research Experience Awards Program (UREAP) scholarship for my numerical work with Dr. Richard Taylor
    (TRU Mathematics and Statistics) on the PCR3BP of Celestial Mechanics.
</p>
