<h1>Projects</h1>
<h2>Language Website</h2>
<img src="assets/screenshot_lws.png" height="300px">
<p class="tools">Tools: Angular, NodeJS, PostgreSQL</p>
<p>I am responsible for business logic, developing our own API, third-party API integration (OpenBroadcaster), testing, and deployment of the <a href="https://www.tsilhqotinlanguage.ca" target=_blank>language website</a> project.</p>
<p>Additionally, I trained and mentor Justin Bambrick, who is responsible for the eye-catching styling and design.</p>
<p>Blake Sellars, who is still a high school student, contributed some one-off pages and styling during each of his two stints
    as a summer student with us, including the 360 studio tour using Mozilla AFrame.</p>

<h2>Digital Morphological Dictionary Project</h2>
<p class="tools">Tools: SQL, ffmpeg, Sox, Mozilla DeepSpeech, Amazon Transcribe, NodeJS, Python</p>
<p>Developed and implemented a rapid audio clip creation pipeline that leverages English speech-to-text, which we have used
    to record around 250,000 words and phrases to date.</p>
<h2>Language Mobile Apps</h2>
I designed, developed, and published the following mobile apps. I also did the audio processing. I stitched the graphics
together using CC0 and stock artwork to supplement my own photography.

<h3><a href='https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.tsilhqotindvb' target=blank>Digital Verb Book</a></h3>
<img src="assets/app_icon_dvb.png">
<p class="tools">Tools: NativeScript, NodeJS, SQLite</p>
This first version contains about 7,000 words and phrases organized into 'third person singular' paradigms. This was 
a minimal viable product, very dense in linguistic information. Our next generation morphological dictionary, currently in progress, app will feature
roughly a quarter-million words and phrases organized into arbitrarily complex vocabulary lists.

<h3><a href='https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.memorymatch' target=blank>Memory Match</a></h3>
<img src="assets/app_icon_mm.png">
<p class="tools">Tools: NativeScript, Android, iOS</p>
This app was an attempt to bring my long-time coworker Bella Alphonse's favorite classroom activity to the digital realm. It is a 
spin on the classic, with audio in Tŝilhqot’in. It is a favorite among kids.

<h3><a href="https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.tsilhqotinalphabet" target=blank>Tŝilhqot’in Alphabet</a></h3>
<img src="assets/app_icon_alphabet.jpg">
<p class="tools">Tools: NativeScript, NodeJS, Android, iOS</p>
This app accomponies a beautiful classroom poster that doubles as the cover of Bella Alphonse’s practical introduction
to the orthography. This project started with a request from teachers to modernize the classic, well loved
alphabet poster.

<h3><a href="https://play.google.com/store/apps/details?id=ca.tsilhqotinlanguage.qungh_7anaghunt_in" target=blank>Qungh ʔAnaghunt’in</a></h3>
<img src="assets/app_icon_qa.png">
<p class="tools">Tools: GDevelop, Apache Cordova, HTML</p>
I built and packaged this app over Christmas break a few years ago. A prototype in scope, it helped me to gather
support for the project, leading to the apps above.
In the future, we hope to expand this to a full feature language tutor. I designed many of the interactions to
mimic natural langauge acquisition in Athabaskan.

<h2>Language Technology Project: Capacity Building</h2>
<p>Project Lead for TNG's highly successful tech capacity building project.</p>
<p>I secured $300,000 in funding from the National Research Council as part of their <a href="https://nrc.canada.ca/en/research-development/research-collaboration/programs/canadian-indigenous-languages-technology-project" target=_blank>Canadian Indigenous Langauges Technology Project</a>.</p>
<p>Through this project, I mentored 4 local first nations in language technology roles:</p>
    <ul>
        <li>Front-End Developer</li>
        <li>Web Development Summer Student</li>
        <li>Audio Technician</li>
        <li>Linguistic Data Entry Specialist</li>
    </ul>

<h2>Cosmological constraints on new scalar gravitational interactions</h2>
<img src="assets/eqn.png">
<p class="tools">Tools: Fortran, Python, PCA, Fisher Forecasting, CAMB, Scientific Computing</p>
<p>I wrote custom patches to the numerical software Code for Anisotropies in the Microwave Background (<a href="https://camb.info/" target=blank>CAMB</a>) using Fortran.</p>
<img src="assets/ff.png">
<p>The Physical Review D publication is available on  <a href='https://arxiv.org/abs/1511.05962' target=blank>Arxiv.org.</a> </p>
<p>For the more visually inclined, checkout our graphs, featured in <a href='https://journals.aps.org/prd/kaleidoscope/prd/93/4/043531' target=blank>Physical Review D's 2016 Kaleidoscope</a>.</p>
<h2>Transient chaos in the Planar Circular-Restricted 3 Body Problem</h2>
<img src="assets/3bp_graph.png" alt="3 Body Problem Graph">
<p class = "tools">Tools: SciLab, Maxima, Numerical Analysis</p>
<img src="assets/en_surf_3bp.png" alt="Energy Surfaces for PCR 3BP">
<p>I held a TRU Undregraduate Research Experience Awards Program (UREAP) scholarship for my numerical work with Dr. Richard Taylor
    (TRU Mathematics and Statistics) on the PCR3BP of Celestial Mechanics.
</p>
